# Dependencies
node_modules/
.next/
out/
dist/

# Testing
coverage/
.nyc_output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# VSCode
.vscode/

# Optional build artifacts
*.tsbuildinfo
.eslintcache

# LFS-problematic binaries (if accidentally added before)
**/*.node

# Vercel
.vercel
