# Dependencies
node_modules/
.next/
out/
dist/

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# VSCode
.vscode/

# Optional build artifacts
*.tsbuildinfo

# LFS-problematic binaries (if accidentally added before)
**/*.node
